
.school-closure-js {
    background: #fff;
    color: #333;
    font: 1.05rem sans-serif;
}

.school-closure-js a {
    color: #333;
    text-decoration: underline;
}

.school-closure-js i {
    x-display: inline-block;
    font-style: normal;
    x-padding-right: .5em;
    x-text-decoration: underline;
}

.school-closure-js b {
    color: #e05d44; /* red */
    font-size: 1.1em;
}

.school-closure-js.open b {
    color: #4c1; /* green */
}

.school-closure-js.error-not-found {
    color: darkorange;
}
